# /opt/portal/.env on EC2 #4 "scan"
AWS_REGION=ap-southeast-2
ECR_REGISTRY=325866321038.dkr.ecr.ap-southeast-2.amazonaws.com
ECR_REPOSITORY=nusiss_projectmanagementportal

DB_HOST=project-portal-mysql.cf44424gah0r.ap-southeast-2.rds.amazonaws.com
SCAN_DB_PASSWORD=

# http://<web private IP>:9001
SONAR_HOST_URL=
# SonarQube User Token (squ_...)
SONAR_TOKEN=
DEEPSEEK_API_KEY=
GITHUB_TOKEN=

# Must be identical on the login, project and scan EC2s
JWT_SECRET=
JWT_EXPIRATION=86400000
