# /opt/portal/.env on EC2 #1 "web" (frontend/Nginx + SonarQube)
AWS_REGION=ap-southeast-2
ECR_REGISTRY=325866321038.dkr.ecr.ap-southeast-2.amazonaws.com
ECR_REPOSITORY=nusiss_projectmanagementportal

# Backend EC2s: <host>:<port> (Route 53 private names, see aws/provision-dns.sh)
LOGIN_UPSTREAM=login.portal.internal:8081
PROJECT_UPSTREAM=project.portal.internal:8082
SCAN_UPSTREAM=scan.portal.internal:8083

SONAR_DB_PASSWORD=
